.text {
    margin: 0;
    font-size: .9rem;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: .6;
    transition: opacity .3s ease-in;
    &:hover {
        opacity: 1;
    }
}